
$ls-background: #86A3B4;
$rs-background: #eeeeee;
$full-background: #eeeeee;
$underline: #1E1E1E;
$main-text: #263036;
$main-name: #FFFFFF;
$main-lastname: #1C2E8C;
$main-links: #1c2e8c;
$main-visitedLinks: #005;
$background-color: #FFFFFF;