
$ls-background: #2C2C34;
$rs-background: #978897;
$full-background: #978897;
$underline: #494850;
$main-text: #f5f5fa;
$main-name: #D8D8F6;
$main-lastname: #6184D8;
$main-links: #1B98E0;
$main-visitedLinks: #006494;
$background-color: #978897;