html {
  display: flex;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.wrapper {
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
}

.profilephoto {
  width: 100px;
  border: 1px solid #9b9595;
  padding: 10px 10px 10px 10px;
  float: right;
}

.head {
  display: flex;
  justify-content: space-between;
}

.head h1 {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: rgb(160, 157, 157);
  display: flex;
}

.pib {
  font-style: oblique;
}

.posada {
  font-size: x-large;
  font-weight: bolder;
}

.zagolovki {
  font-variant: small-caps;
  font-weight: bolder;
  font-size: large;
  background-color: rgb(149, 212, 241);
}

.skills {
  list-style-type: square;
  list-style-position: outside;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(160, 157, 157);
}

.achivments {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: rgb(160, 157, 157);
}

.wrapper a {
  color: #00f;
  text-decoration: underline;
}

.wrapper a:visited {
  color: #005;
  text-decoration: underline;
}

.wrapper a:hover {
  text-decoration: none;
}

.table {
  background-color: rgb(220, 220, 223);
  width: 100%;
}

.table th:first-child {
  width: 20%;
}

td {
  padding: 5px;
}

.main {
  display: flex;
  flex-direction: column;
}
