:root {
  /* sizes */
  --padding-bottom-big: 36px;
  --padding-bottom-small: 13px;
  --padding-left: 40px;

  /* font */
  --font-size-xlarge: 32px;
  --font-size-large: 24px;
  --font-size-small: 16px;
  --font-size-name-lastname: 40px;
  --font-style-links: italic;

  --font-family-base: Trebuchet MS, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-style: normal;
  height: 100%;
  position: relative;
}

html:has(.my-theme) {
  background-color: #978897;
}

.my-theme {
  color: var(--color-main-text);
  background-color: var(--color-full-background);
  margin: 0;
  min-height: 100vh;

  /* colors */
  --color-ls-background-nt: #2c2c34;
  --color-rs-background-nt: #978897;
  --color-underline-nt: #494850;
  --color-main-text-nt: #d8d8f6;
  --color-main-name-nt: #d8d8f6;
  --color-main-lastname-nt: #6184d8;
  --color-main-links-nt: #1b98e0;
  --color-main-visitedLinks-nt: #006494;
}
.full {
  display: grid;
  height: 100vh;
  grid-template-columns: 40vh 42vw;
  grid-template-rows: 174vh;
  grid-template-areas: "LeftSide RightSide";
  justify-content: center;
}

/*======= Left Side =======*/

.my-theme .LeftSide {
  background: var(--color-ls-background-nt);
  margin: 0;
  grid-area: LeftSide;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 5px 10px 5px rgb(78, 74, 74);
  position: relative;
}

.my-theme .LeftSide div {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .profilephoto {
  width: 381px;
  height: 292px;
  object-fit: contain;
  padding-bottom: 50px;
}

.my-theme .LeftSide .profilephoto:hover {
  width: 672px;
  height: 510px;
  padding-bottom: 0;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.8);
}

.my-theme .LeftSide .name {
  color: var(--color-main-name-nt);
  padding-top: 58px;
  padding-bottom: 0%;
  padding-left: var(--padding-left);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.my-theme .LeftSide .lastName {
  width: 260px;
  height: 48px;
  color: var(--color-main-lastname-nt);
  padding-left: var(--padding-left);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.my-theme .LeftSide .contact {
  padding-left: var(--padding-left);
  color: var(--color-main-text-nt);
}

.my-theme .LeftSide .contact h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline-nt);
  margin: 0;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
  width: 289px;
}

.my-theme .LeftSide .contact h2 {
  margin: 0 0 9px;
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 29px;
}

.my-theme .LeftSide .contact p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.my-theme .LeftSide .address {
  margin-top: 31px;
  line-height: 10px;
}

.my-theme .LeftSide .languages h1 {
  margin-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .languages p {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: var(--padding-bottom-small);
}

.my-theme a {
  color: var(--color-main-links-nt);
  text-decoration: none;
  font-style: var(--font-style-links);
}

.my-theme a:visited {
  color: var(--color-main-visitedLinks-nt);
}

.my-theme a:hover {
  font-style: var(--font-style-links);
  font-weight: 700;
  text-decoration: underline;
}

/* =======Right Side========*/

.my-theme .RightSide {
  left: 0%;
  padding: 58px 54px 0px 45px;
  color: var(--color-main-text-nt);
  margin: 0;
  background-color: var(--color-rs-background-nt);
  text-shadow: 1px 1px 1px #000000;
  grid-area: RightSide;
  display: flex;
  flex-direction: column;
}

.my-theme .RightSide div {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .RightSide p {
  font-size: var(--font-size-small);
  line-height: 19px;
  margin: 0;
}

.my-theme .RightSide .summary p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.my-theme .RightSide .skills .table ul {
  margin: 0;
  display: grid;
  font-size: var(--font-size-small);
}

.my-theme .RightSide h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline-nt);
  margin: 0;
  margin-bottom: 28px;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
}

.my-theme .RightSide .we1 {
  opacity: 70%;
}

.my-theme .RightSide .we1:hover {
  opacity: 100%;
}

.my-theme .RightSide .we2 {
  opacity: 70%;
}

.my-theme .RightSide .we2:hover {
  opacity: 100%;
}

.my-theme .RightSide .we3 {
  opacity: 70%;
}

.my-theme .RightSide .we3:hover {
  opacity: 100%;
}

@media screen and (max-width: 382px) {
  .full {
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas:
      "LeftSide"
      "RightSide";
    justify-content: left;
  }
  .my-theme .LeftSide .profilephoto:hover {
    width: 385px;
    height: 292px;
    object-fit: contain;
    padding-bottom: 50px;
    box-shadow: 0px 0px 0px 0px;
    animation: none;
  }
}
