:root {
  /* sizes */
  --padding-bottom-big: 36px;
  --padding-bottom-small: 13px;
  --padding-left: 40px;

  /* font */
  --font-size-xlarge: 32px;
  --font-size-large: 24px;
  --font-size-small: 16px;
  --font-size-name-lastname: 40px;
  --font-style-links: italic;

  --font-family-base: Trebuchet MS, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

html:has(.my-theme) {
  background-color: #978897;
}

.my-theme {
  position: absolute;
  top: calc(50% - 500px);
  left: calc(50% - 600px);
  display: grid;
  grid-template-columns: 385px 815px;
  grid-template-rows: 1667px max-content;
  color: var(--color-main-text-nt);

  /* colors */
  --color-ls-background-nt: #2c2c34;
  --color-rs-background-nt: #978897;
  --color-underline-nt: #494850;
  --color-main-text-nt: #d8d8f6;
  --color-main-name-nt: #d8d8f6;
  --color-main-lastname-nt: #6184d8;
  --color-main-links-nt: #1b98e0;
  --color-main-visitedLinks-nt: #006494;
}

/*======= Left Side =======*/

.my-theme .LeftSide {
  position: fixed;
  transform: scale(0.8) translate(12.1%, -12%);
  background: var(--color-ls-background-nt);
  margin: 0;
}

.my-theme .LeftSide .profilephoto {
  position: relative;
  width: 385px;
  object-fit: contain;
  padding-bottom: 50px;
}

.my-theme .LeftSide .name {
  color: var(--color-main-name-nt);
  padding-top: 58px;
  padding-left: var(--padding-left);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.my-theme .LeftSide .lastName {
  width: 260px;
  height: 48px;
  color: var(--color-main-lastname-nt);
  padding-left: var(--padding-left);
  padding-bottom: var(--padding-bottom-big);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.my-theme .LeftSide .contact {
  position: relative;
  padding-bottom: var(--padding-bottom-big);
  padding-left: var(--padding-left);
}

.my-theme .LeftSide .contact h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline-nt);
  margin: 0;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
  width: 289px;
}

.my-theme .LeftSide .contact h2 {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 29px;
}

.my-theme .LeftSide .contact p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.my-theme .LeftSide .address {
  padding-bottom: var(--padding-bottom-big);
  margin-top: 31px;
  line-height: 10px;
}

.my-theme .LeftSide .phone {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .email {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .linkedin {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .languages {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .languages h1 {
  margin-bottom: var(--padding-bottom-big);
}

.my-theme .LeftSide .languages p {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: var(--padding-bottom-small);
}

.my-theme a {
  color: var(--color-main-links-nt);
  text-decoration: none;
  font-style: var(--font-style-links);
}

.my-theme a:visited {
  color: var(--color-main-visitedLinks-nt);
}

.my-theme a:hover {
  font-style: var(--font-style-links);
  font-weight: 700;
  text-decoration: underline;
}

/* =======Right Side========*/

.my-theme .RightSide {
  position: absolute;
  left: 32%;
  padding: 58px 54px 0px 45px;
  color: var(--color-main-text-nt);
  background-color: var(--color-rs-background-nt);
  text-shadow: 1px 1px 1px #000000;
}

.my-theme .RightSide div {
  padding-bottom: var(--padding-bottom-big);
}

.my-theme .RightSide p {
  font-size: var(--font-size-small);
  line-height: 19px;
  margin: 0;
}

.my-theme .RightSide .summary p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.my-theme .RightSide .skills .table ul {
  margin: 0;
  display: grid;
  font-size: var(--font-size-small);
}

.my-theme .RightSide h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline-nt);
  margin: 0;
  margin-bottom: 28px;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
  width: 659px;
}
