:root {
  /* sizes */
  --padding-bottom-big: 36px;
  --padding-bottom-small: 13px;
  --padding-left: 40px;

  /* font */
  --font-size-xlarge: 32px;
  --font-size-large: 24px;
  --font-size-small: 16px;
  --font-size-name-lastname: 40px;
  --font-style-links: italic;
  --font-family-base: Trebuchet MS, sans-serif;
}

html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-base);
  font-style: normal;
  height: 100%;
  position: relative;
}

html:has(.main-theme) {
  background-color: #eeeeee;
}

.main-theme {
  position: absolute;
  top: calc(50% - 500px);
  left: calc(50% - 600px);
  display: grid;
  grid-template-columns: 385px 815px;
  grid-template-rows: 1667px max-content;
  color: var(--color-main-text);

  /* colors */
  --color-ls-background: #86a3b4;
  --color-rs-background: #eeeeee;
  --color-underline: #1e1e1e;
  --color-main-text: #263036;
  --color-main-name: #ffffff;
  --color-main-lastname: #1c2e8c;
  --color-main-links: #1c2e8c;
  --color-main-visitedLinks: #005;
}

/*======= Left Side =======*/

.main-theme .LeftSide {
  position: fixed;
  transform: scale(0.8) translate(12.1%, -12%);
  background: var(--color-ls-background);
  margin: 0;
}

.main-theme .LeftSide .profilephoto {
  position: relative;
  width: 385px;
  object-fit: contain;
  padding-bottom: 50px;
}

.main-theme .LeftSide .name {
  color: var(--color-main-name);
  padding-top: 58px;
  padding-left: var(--padding-left);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.main-theme .LeftSide .lastName {
  width: 260px;
  height: 48px;
  color: var(--color-main-lastname);
  padding-left: var(--padding-left);
  padding-bottom: var(--padding-bottom-big);
  font-weight: 600;
  font-size: var(--font-size-name-lastname);
  line-height: 48px;
}

.main-theme .LeftSide .contact {
  position: relative;
  padding-bottom: var(--padding-bottom-big);
  padding-left: var(--padding-left);
}

.main-theme .LeftSide .contact h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline);
  margin: 0;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
  width: 289px;
}

.main-theme .LeftSide .contact h2 {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-large);
  line-height: 29px;
}

.main-theme .LeftSide .contact p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.main-theme .LeftSide .address {
  padding-bottom: var(--padding-bottom-big);
  margin-top: 31px;
  line-height: 10px;
}

.main-theme .LeftSide .phone {
  padding-bottom: var(--padding-bottom-big);
}

.main-theme .LeftSide .email {
  padding-bottom: var(--padding-bottom-big);
}

.main-theme .LeftSide .linkedin {
  padding-bottom: var(--padding-bottom-big);
}

.main-theme .LeftSide .languages {
  padding-bottom: var(--padding-bottom-big);
}

.main-theme .LeftSide .languages h1 {
  margin-bottom: var(--padding-bottom-big);
}

.main-theme .LeftSide .languages p {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: var(--padding-bottom-small);
}

.main-theme a {
  color: var(--color-main-links);
  text-decoration: none;
  font-style: var(--font-style-links);
}

.main-theme a:visited {
  color: var(--color-main-visitedLinks);
}

.main-theme a:hover {
  font-style: var(--font-style-links);
  font-weight: 700;
  text-decoration: underline;
}

/* =======Right Side========*/

.main-theme .RightSide {
  position: absolute;
  left: 32%;
  padding: 58px 54px 0px 45px;
  color: var(--color-main-text);
  background-color: var(--color-rs-background);
}

.main-theme .RightSide div {
  padding-bottom: var(--padding-bottom-big);
}

.main-theme .RightSide p {
  font-size: var(--font-size-small);
  line-height: 19px;
  margin: 0;
}

.main-theme .RightSide .summary p {
  margin: 0;
  font-weight: 600;
  font-size: var(--font-size-small);
  line-height: 19px;
}

.main-theme .RightSide .skills .table ul {
  margin: 0;
  display: grid;
  font-size: var(--font-size-small);
}

.main-theme .RightSide h1 {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  border-color: var(--color-underline);
  margin: 0;
  margin-bottom: 28px;
  padding-bottom: var(--padding-bottom-small);
  font-weight: 600;
  font-size: var(--font-size-xlarge);
  width: 659px;
}
